.article1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}
.blog-tabs{
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    margin-bottom: 6rem;
}
.blog1{
    margin-left: 3rem;
}

.Blogtitre{
    color: var(--blue);
    font-size: 20px;
    margin-bottom: 1rem;
    width: 650px;
}
.Blogauteur{
    color: var(--orange);
    font-size: 20px;
    margin-top: 2rem;

}
.Blog-content{
    text-align: justify;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
.Blogcategory{
    color: #3f3f3f;
    font-size: 14px;
}
.Blogcontenu{
    color: #3f3f3f;
    line-height: 28px;
    width: 700px;
}
.blog a {
    color: var(--blue); 
    /* text-decoration: none; */
  }
.Box-content {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    flex-wrap: wrap; 

}

.BlogContainerImage{
    width: 410px;
    height:310px;
    margin-right: 2rem;
}


.Blog-background{
    background-image: url('../../Images/belle-femme-prenant-soin-elle-meme-maison.jpg');
    background-size: cover;
    background-position: center;
    height: 500px; 
    align-items: center;
    justify-content: center;
  
}
.SingleBlogSection{
    margin-top: 3rem;
}
.SectionBlogTitle{
    margin-bottom: 1rem;
    color: #3f3f3f;
    font-size: 24px;
}
.SectionBlogText{
    margin-bottom: 1rem;
    color: #3f3f3f;
    font-size: 18px;
    text-align: justify;
}






  @media screen and (max-width : 1024px) {
    .article1{
        flex-direction: column;
    }
    .blog-tabs
    {
        flex-direction: column;
    }
    .Blogtitre{

        margin-top: 2rem;
    }
    .blog1{
        margin-left: 0rem;
    }
    .Box-content {
        display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
    }
    
  }