body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: 0;
}

.container {
  max-width: 600px;
  padding: 20px;
}

.question {
  margin-bottom: 20px;
}

.question h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.answers {
  list-style: none;
  padding: 0;
}

.card {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: border-color 0.3s ease, background-color 0.3s ease; }

.card:hover {
  border-color: #007bff;
}

.card.selected {
  background-color: rgb(110, 182, 110); 
}

.card-label {
  font-size: 16px;
  margin: 0;
}

.card-content {
  display: flex;
  align-items: center;
}

.card-content input[type="checkbox"] {
  margin-right: 10px;
  display: none; 
}

.card-content img {
  max-width: 50px;
  margin-left: 50%; 
}

.progress-bar-container {
  width: 25%;
  height: 15px;
  background-color: #f0f0f0;
  border-radius: 10px;
  margin-bottom: 10px;
}

.progress-bar {
  height: 100%;
  background-color: #4caf50;
  border-radius: 10px;
  transition: width 1s ease;
}

.card-content input[type="text"] {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  color: #333;
  background-color: #ffffff;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

.card-content input[type="text"]:focus {
  outline: none;
  border-color: #007bff;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

button {
  background-color: rgb(39, 152, 39);
  border: none;
  color: white;
  padding: 13px 30px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 25px;
}

button:hover {
  background-color: rgb(24, 90, 24);
}
.child-container {
  border: 1px solid #ccc; /* Border for the container */
  margin-bottom: 10px; /* Add some margin between containers */
  padding: 10px; /* Add padding inside the container */
}

.child-container-header {
  font-weight: bold; /* Make the header text bold */
  margin-bottom: 5px; /* Add some margin below the header */
}