.BoxesContainer{
    display: flex;
      flex-wrap: wrap; 
      justify-content: center;
      margin-top: 4rem;
      padding-left: 1rem; 
      padding-right: 2rem;
      margin-bottom: 4rem;
      
}
.app-container {
    display: flex;
    flex-direction: column;
    min-height: 140vh; 
    min-width: 91vh;
    margin-right: 0 !important;
    
  
    }
  
  .content {
    flex: 1; 
    margin-top: 4rem;
    margin-left: 3rem;
    margin-right: 3rem;
    
    
  
  }
  .BOXDescription{
    color: #3F3F3F;
    width: 400px;
    margin-bottom: 1rem;
    font-size: 16 px;
    text-align: justify;

  }
  .BoxTITLE{
    color: #3F3F3F;
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 36px

  }
  .NosBoxes{
    border-radius: 8px;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-image: url('../../Images/freepik-export-202405061333223X9Y.jpeg');
    background-size: cover;

  }
  .TextContainer1{
    display: flex;
    flex-direction: column;
  }
  /* Add this CSS to your BoxePage.css file */
.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination button {
  background-color: var(--orange);
  color: white;
  border:none;
  padding: 8px 16px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 4px;
}



.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.pagination span {
  font-size: 16px;
  margin: 0 10px;
}
