.app-container {
  display: flex;
  flex-direction: column;
  min-height: 140vh; 
  min-width: 95vh;
  margin-right: 0 !important;

  }

.content {
  flex: 1; 
  margin-top: 4rem;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 3rem;
  

}
.diagnostique-background {
  background-image: url('../src/Images/background1.jpg');
  background-size: cover;
  background-position: center;
  height: 500px; 
  align-items: center;
  justify-content: center;
}

 .DiagnosticContainer {
  padding: 20px;
  border-radius: 10px;
  margin-top: 5rem;
}

.CarrouselContainer .DiagnosticContainer .DiagnosticText {
  color: #333; /* Adjust the text color if needed */

}
.DiagnosticContainer {
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 5rem;
  margin-left: 5rem;
  flex-direction: row;

}
.bigcombitext{
  font-size: 14px;
  width: 200px;
  text-align: justify;
  margin-top: 2rem;
  color:#7e7e7e;

}
.accueilTitle {
  font-size: 40px; 
  color: var(--blue);
  text-align: center;
}
.accueilTitle1 {
  font-size: 34px; 
  color:#7e7e7e;
  text-align: center;
  margin-left: 15rem;
  margin-right: 15rem;
}
.DiagnosticTitle {
  font-size: 40px; 
  color: var(--blue);
  width: 550px;
  
}
.DiagnosticDescription {
  font-size: 20px; 
  color: #3F3F3F;
  width:400px;
  margin-top: 2rem;
margin-bottom: 1rem;
text-align: justify;

}
.DiagnosticContainer button {
  background-color:  var(--orange);
  border-radius: 4;
  padding-left:2.5rem ;
  padding-right:2.5rem ;
  border: none;
  color: white;
  padding: 13px 30px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 25px;

}
.IconsButton{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 5rem;
  margin-left: 5rem;
  flex-direction: column;
  margin-top: 15rem;
  margin-bottom: 5rem;

}
.IconsButton button {
  background-color:  var(--orange);
  border-radius: 4;
  padding-left:2.5rem ;
  padding-right:2.5rem ;
  border: none;
  color: white;
  padding: 13px 30px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 25px;

}
.TextAcceuilContainer{
  justify-content: center;
  align-items: center;
 text-align: center;
 margin-top: 1rem;
 display: flex;
 flex-direction: column;
}
.AccueilDescription{
  font-size: 24;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top:1rem;
  color: #3F3F3F;


}


.box-image-container {
  width: 555px; 
  height: 610px; 
  overflow: hidden; 
}

.CombinationContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; 
  margin-top: 4rem;
 }
.combinationsmall-imageContainer{
  width: 205px; 
  height: 250px; 
  overflow: hidden; 
  filter: brightness(80%) contrast(100%) saturate(80%) grayscale(20%); 
   transition: filter 0.1s;
   border-radius: 1.5rem;



}
.combinationsmall1-imageContainer
{
  width: 125px; 
  height: 150px; 
  overflow: hidden; 
  filter: brightness(80%) contrast(100%) saturate(80%) grayscale(20%); 
   transition: filter 0.1s;
   border-radius: 1.5rem;



}
.combinationsmall1-imageContainer:hover
{
  filter: none; 



}   
.Combinationbiigg{
  display: flex;
justify-content: center;
/* align-items: center; */
box-shadow: 0 10px 18px rgba(74, 74, 74, 0.2);
padding: 0.5rem;
padding-right: 1rem;
border-radius: 1.5rem;

margin-right: 1rem;
margin-left : 1rem;
max-width: 550px;
}
.combinationsmall-imageContainer:hover {
  filter: none; 
}
.CombinationSmall{  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;


  
}
.CombinationBigContainer{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-left: 1rem;
  margin-right: 1rem;
}

.bigCombititle{
  font-size: 24px;
  margin-top: 2rem;
  color:#3F3F3F;
}
.image-textcombi {
  position: absolute;

color: white;  
}
.combinationbig-imageContainer{
  width: 300px; 
  height: 350px; 
  overflow: hidden; 
  border-radius: 1.5rem;
margin-right: 2rem;

}
.CombinationBig{
  display: flex; 
margin-bottom: 1rem;


}
.expert-image-container {
  width: 555px; 
  height: 250px; 
  overflow: hidden; 
}
.article-image-container {
  width: 265px; 
  height: 180px; 
  overflow: hidden; 
}

.ExpertDescription{
  font-size: 14px; 
  color: #3F3F3F;
  width: 400px;
  margin-top: 0.5rem;
margin-bottom: 0.5rem;
}
.articleDescription{
  font-size: 14px; 
  color: #3F3F3F;
  width: 180px;
margin-bottom: 0.5rem;
}
.articleTitle{
  font-size: 14px; 

  width: 180px;
margin-bottom: 2rem;
margin-top: 1rem;

}
.icon{
margin-bottom: 1rem;
} 
.box-image {
  width: 100%; 
  height: 100%;
  object-fit: cover;
}
.MoodContainer{
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding-left: 7rem;
  /* padding-right: 5rem; */
  padding-top: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;


}
.text-box-container{
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;

}
.expert-text-container{ 
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.BoxContainer1{
  align-items: flex-start;
  justify-content: flex-start;
padding-bottom: 1rem; 
box-shadow: 0 10px 18px rgba(74, 74, 74, 0.2);
margin-bottom: 1rem;}
.ExpertContainer{
  align-items: flex-start;
  justify-content: flex-start;
box-shadow: 0 10px 18px rgba(74, 74, 74, 0.2);
padding-bottom: 0.5rem;
margin-bottom: 1rem;
margin-left: 1.5rem;
}
.ArticleContainer{
  align-items: flex-start;
  justify-content: flex-start;
box-shadow: 0 10px 18px rgba(74, 74, 74, 0.2);
padding-bottom: 0.5rem;
margin-bottom: 1rem;
margin-left: 1.5rem;
}

.SecondColumnContainer{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 1rem;


}
.SmallContainer{
  display: flex;
  flex-direction: row;

}
.icons-container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 3rem;
  align-items: baseline;

}

  .icon-container{
    justify-content: center;
    align-items: center;
    display: flex;
flex-direction: column;
margin-top: 1rem;
padding-right: 2rem;
text-align: center;

    }
    .iconTitle{
      color: #3F3F3F;
    }

    .prod-container {
      display: flex;
      flex-wrap: wrap; 
      justify-content: center;
      margin-top: 4rem;
      padding-left: 1rem; 
      padding-right: 2rem;
      margin-bottom: 4rem;

    }
    
    .DiagnosticText{
      justify-content: center;
      align-items: center ;
    

    }
    .expertlandingpage{
      margin-top: 2rem;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap; 
      align-items: center;
      margin-bottom: 2rem;


      
    }

    .expertsimagecontainer{
      width: 150px;
      height: 150px;
      overflow: hidden; 
      border-radius: 100%;

      margin-top: 4rem;


    }
    .expertsimage{
    object-fit: cover;
    width: 100%;
    height: 100%;

    }
    .expertttext{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 250px;

      

    }
    
    .expettname{
      color: #3F3F3F;
      font-size: 20px;
      margin-bottom:0.5rem ;
      text-align: center;
    }
    .expettdomaine{
      color: #3F3F3F;
      font-size: 20px;
      text-align: center;

    }
@media screen and (max-width : 1024px){

  .DiagnosticTitle {
    font-size: 24px; 
    color: #3F3F3F;
    text-align: center;

  }
  .content {
    flex: 1; 
    margin-top: 4rem;
    margin-left: 1rem;
    margin-right: 1rem;
    
  
  }
  .DiagnosticDescription {
    font-size: 20px; 
    color: #3F3F3F;
    margin-top: 1rem;
  text-align: center;
  }
  .accueilTitle1 {
    font-size: 34px; 
    color:#7e7e7e;
    text-align: center;
    margin-left: 5rem;
    margin-right: 5rem;
  }
  .DiagnosticContainer button {
    padding-left:2rem ;
    padding-right:2rem ;
    margin-top: 1rem;
    margin-bottom: 1rem;

align-self: center; 
  }
  .DiagnosticText{
    justify-content: center;
    align-items: center ;
    display: flex;
flex-direction: column;
  }

  .DiagnosticContainer  {
    /* margin-right: 1rem;
    margin-left: 1rem; */
   flex-direction: column;
   display: flex;
   align-items: center;
   justify-content: space-between;
  }
  .MoodContainer{
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding-left: 0rem;
    padding-top: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    flex-direction: column;
  
  
  }
  
  .IconsButton{
   
    margin-top: 5rem;
  
  }
.CombinationContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  margin-top: 4rem;
 }
  .prod-container {
    margin-left: 0; /* Adjust margin as needed */
    margin-top: 5rem; /* Adjust margin as needed */
    padding-left: 0; /* Adjust padding as needed */
    padding-right: 0; /* Adjust padding as needed */
  }
  .SecondColumnContainer{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 0rem;
  
  }
  .ExpertContainer{
    align-items: flex-start;
    justify-content: flex-start;
  box-shadow: 0 10px 18px rgba(74, 74, 74, 0.2);
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  }
  .ArticleContainer{
    align-items: flex-start;
    justify-content: flex-start;
  box-shadow: 0 10px 18px rgba(74, 74, 74, 0.2);
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  }
  .icons-container {
    margin-left: 3rem;
    margin-bottom: 2rem;
    justify-content: center;
    
  }
  
  .icon {
    padding: 1rem;
  }
  
  .separator-1{
    display: none;
      }
}
.separator-line {
  margin-top: 4rem; 
  border-top: 3px solid var(--grey); 
  width: 20%;
  margin-bottom: 3rem; 

}
.separator-1{
  margin-top: 4rem; 
color: #3F3F3F;
  height: 5rem;
}





@media screen and (max-width : 550px){

.CombinationBig{
  flex-direction: column;
}
 
  .DiagnosticTitle {
    font-size: 24px; 
    color: #3F3F3F;
    text-align: center;
  }
  .DiagnosticDescription {
    font-size: 20px; 
    color: #3F3F3F;
    margin-top: 1rem;
    text-align: center;

  }
  .DiagnosticContainer button {
    padding-left:2rem ;
    padding-right:2rem ;
    margin-bottom: 2rem;
align-items: center;
/* margin-left: 8rem; */


  }
  .separator-1{
display: none;
  }
  
  .DiagnosticText{
    justify-content: center;
    align-items: center ;
    display: flex;
flex-direction: column;
  }
  .content {
    flex: 1; 
    margin-top: 4rem;
    margin-left: 1rem;
    margin-right: 1rem;
    
  
  }
  .DiagnosticContainer  {
    margin-right: 0rem;
    margin-left: 0rem;
   flex-direction: column;
   display: flex;
   align-items: center;
   justify-content: center;
  }
 
  .MoodContainer{
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding-left: 0rem;
    padding-top: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    flex-direction: column;
  
  
  }
  .SecondColumnContainer{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 0rem;
  
  }
  .ExpertContainer{
    align-items: flex-start;
    justify-content: flex-start;
  box-shadow: 0 10px 18px rgba(74, 74, 74, 0.2);
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  }
  .ArticleContainer{
    align-items: flex-start;
    justify-content: flex-start;
  box-shadow: 0 10px 18px rgba(74, 74, 74, 0.2);
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  }
  .prod-container {
    margin-left: 0; /* Adjust margin as needed */
    margin-top: 5rem; /* Adjust margin as needed */
    padding-left: 0; /* Adjust padding as needed */
    padding-right: 0; /* Adjust padding as needed */
  }
  .icons-container {
    margin-left: 3rem;
    margin-bottom: 2rem; /* Adjust margin as needed */
  }


}