
.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}
.navbar {
  justify-content: center;
  display: flex;

}
.menu-item{ 
  list-style: none;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
}
.form {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin-top: 50px;

}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.form input{
  margin-top: 20px;
 padding: 10px;
}
.text{
  font-size: 30px;
  font-weight: bold;
  justify-self: center;
  margin-top: 10%;
}
.container-button{
  display: flex;
  justify-content: center;
}
.button{
  background-color: rgb(39, 152, 39);
  border: none;
  color: white;
  padding: 13px 30px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 25px;

}